.item-list {
    margin: 30px auto;
}

.item-list h3 {
    padding: 10px 20px;
}

.item-list .points {
    width: initial;
    margin: 20px;
    padding: 20px;
    background: #ffd200;
    color: rgba(0,0,0,0.5);
}

.item-list article {
    background: #FFF;
    border: 1px solid #ccc;
    margin: 20px;
    padding: 20px;
}

article strong {
    padding: 0px 10px;
}

article p {
    font-size: 12px;
}

.button-area {
    text-align: center;
}

.button-area button {
    border: 0;
    background: #0996e9;
    padding: 10px 20px;
    font-weight: bold;
    color: #FFF;
    margin: 0px 10px;
    width: 250px;
}

.recommended {
    width: fit-content;
    margin: 10px 0px 0px;
    padding: 10px;
    background: yellow;    
    border: 1px solid rgba(0,0,0,0.2);
}

.show {
    display: block;
}

.hide {
    display: none;
}