* {
  margin: 0;
  padding: 0;
  outline: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: #eee;
  color: #333;
}

div {
  width: 100%;
}

/*#########################################################*/

.item-list {
    margin: 30px auto;
}

.item-list .item-container {
  display: grid;
  grid-auto-flow: column;
}

.item-list h3 {
    padding: 10px 20px;
}

.item-list .points {
    width: initial;
    margin: 20px;
    padding: 20px;
    background: #ffd200;
    color: rgba(0,0,0,0.5);
}

.item-list article {
    position: relative;
    background: #FFF;
    border: 1px solid #ccc;
    margin: 20px;
    padding: 20px;
    min-height: 150px;
    border-radius: 10px;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.2);
}

.item-list article label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    cursor: pointer;
}

.item-list .item {
  overflow: hidden;
}

.item-list .item input {
  display: none;
}

.item-list .item input:checked + label {
  border-radius: 10px;
    box-shadow: 0px 0px 0px 4px red;
}

.item-list .item-photo img {
  width: 100%;
}

article strong {
    padding: 0px;
}

article p {
    font-size: 12px;
}

.button-area {
    text-align: center;
}

.button-area button {
    border: 0;
    background: #0996e9;
    padding: 10px 20px;
    font-weight: bold;
    color: #FFF;
    margin: 0px 10px;
    width: 250px;
    cursor: pointer;
}

.button-area button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.recommended {
    width: auto;
    margin: 10px 0px 0px;
    padding: 10px;
    background: yellow;    
    border: 1px solid rgba(0,0,0,0.2);
}

.show {
    display: block;
}

.hide {
    display: none;
}

.item-list .selected-pizza {
    margin: 20px;
    border: 0.55px dashed #999;
    padding: 10px;
    width: initial;
    background: #fff;
}

.item-list .selected-pizza .recommended {
  margin-top: 0px !important;
  margin-bottom: 10px !important;
}

.item-list .selected-pizza h1 {
  padding-bottom: 10px;
  font-size: 20px;
  color: red;
}

.item-list .selected-pizza p {
  padding: 5px 0px;
}

.item-list .pizza-size {
  align-items: center;
  background: white;
  border: 1px solid #ccc;
  border-radius: 50%;
  display: flex;
  height: 160px;
  justify-content: center;
  position: relative;
  width: 160px;
  z-index: 0;
  margin: 0px auto 20px;
}

.item-list .pizza-size::before,
.item-list .pizza-size::after {
  background: #ccc;
  content: '';
  position: absolute;
  transform: rotate(45deg);
}
.item-list .pizza-size::before {
  height: 1px;
  width: 150px;
}
.item-list .pizza-size::after {
  height: 150px;
  width: 1px;
}

.item-list .pizza-size h5 {
  align-items: center;
  background: white;
  border-radius: 50%;
  display: flex;
  height: 80px;
  justify-content: center;
  position: relative;
  width: 80px;
  z-index: 1;
}

.item-list .pizza-dough {
  display: flex;
  justify-content: center;
  line-height: 150px;
}

.item-list .item-description {
  padding: 20px 0 0;
  text-align: center;
}

.item-list .item-description strong > span {
  font-weight: normal;
}